/* ---- ROOT VARIABLES ---- */

:root {
  --tracking-color: #1270cf20;
}

/* ---- GLOBAL STYLING ---- */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  background-color: #f7f7f7;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 75px;
  font-weight: 600;
  line-height: 72px;
  color: #010101f2;
  text-align: center;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: rgb(1, 1, 1, 0.95);
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: rgb(1, 1, 1, 0.95);
}

p {
  font-size: 14px;
}

.link-text {
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 102, 204);
}

.small-text {
  font-size: 12px;
  line-height: 16px;
  color: rgb(102, 102, 102);
  text-align: center;
}

.medium-text {
  font-size: 40px;
  line-height: 30px;
  color: rgb(1, 1, 1, 0.95);
  font-weight: 600;
}

.upper-character-position {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  bottom: 18px;
}

.bold {
  font-weight: 600;
}

.align-text-left {
  text-align: left;
}

.blue {
  color: rgb(0, 102, 204);
}

.block {
  width: fit-content;
}

/* ---- NAV STYLING ---- */
nav {
  width: 100%;
  padding: 10px 10%;
}

.nav-links {
  list-style-type: none;
  gap: 15%;
}

li {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .example-hide {
    display: none;
  }
}

.divider {
  width: 100%;
  height: 1.25px;
  background-color: rgb(233, 233, 233);
}

/* ---- IMAGE STYLING ---- */
.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.icon-medium {
  width: 30px;
  height: 30px;
}

.icon-middle {
  width: 20px;
  height: 20px;
}

.icon-small {
  width: 15px;
  height: 15px;
  position: relative;
  right: 0.5px;
}

/* ---- BUTTON STYLING ---- */

.button-container {
  display: flex;
  gap: 10px;
}

button {
  padding: 12.5px 20px;
  border: none;
  border-radius: 1000px;
  font-weight: 500;
}

.button-primary {
  background-color: black;
  color: white;
}

.button-secondary {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 50px #00000020;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.button-tertiary {
  background-color: white;
  min-width: 90%;
}

/* ---- STRUCTURE STYLING ---- */

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 10px 0px;
  gap: 40px;
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.two-by-two-grid {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.three-by-one-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.privacy-statement {
  margin: 0px 0px 100px 0px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.white-background {
  background-color: white;
  padding: 0px 0px 100px 0px;
}

/* ---- CARD STYLING ---- */

.action-cards {
  padding: 30px 30px;
  border-radius: 15px;
  border: 1.5px solid rgb(177, 177, 177);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 15px;
  position: relative;
}

.highlighted {
  border: 2px solid black;
}

.circle-active {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1.25px solid black;
  border-radius: 100px;
  position: absolute;
  bottom: 80%;
  left: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-action-cards {
  padding: 30px 30px;
  border-radius: 15px;
  border: 1.5px solid rgb(177, 177, 177);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: left;
  gap: 15px;
  position: relative;
}

.spacing-one {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
}

.no-style {
  list-style-type: none;
  font-size: 12px;
  line-height: 16px;
  color: rgb(102, 102, 102);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-cards {
  background-color: #f7f7f7;
  padding: 30px 30px;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-spacing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
